<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card center tarjeta" style="width: 90%;">
                <img src="/assets/images/informacion4.png" class="card-img-top imagen" alt="Caída Github">
                <h5 class="card-title center text-center" style="margin: 0.5cm; font-size: xx-large;">GitHub sufre una caída afectando a miles de desarrolladres de software</h5>
                <div class="card-body">
                    <p class="card-text" style="font-size: large; text-align: justify;">
                        GitHub, el servicio de hosting de desarrollo más importante de Internet ha sufrido una caída. La web permanece inactiva para miles de desarrolladores desde hace alrededor de una hora, y los usuarios están experimentando distintos tipos de errores.
                        <br><br> La caída se ha relajado, y muchas de las páginas de GitHub funcionan, pero las operaciones de GIT y muchas partes de la web están caídas. Según podemos ver en la página de estado de GitHub, la web está presentando algunos
                        fallos para numerosos usuarios
                    </p>
                    <p style="text-align: center; margin: 0.5cm;">
                        <img src="/assets/images/informacion4_extra.png" class="imagen-extra card-img center" alt="Estado Github"> Gráfico Estado Github
                    </p>
                    <p class="card-text" style="font-size: large; text-align: justify;">
                        La totalidad del servicio no se ha visto afectada; el repositorio de código más popular entre desarrolladores está sufriendo errores puntuales para algunos usuarios e interrupciones de servicio. De nuevo, los errores más comunes consistgen en los inicios
                        de sesión, pero el problema reside en el IDE, cuyo acceso para muchos desarrolladores es imposible.
                        <br><br>GitHub ya ha asegurado que está investigando la causa del problema. Los principales fallos que han experimentado los servicios de la web han sido errores en la carga de aplicaciones. En estos momentos, GitHub asegura haber
                        encontrado la fuente de estos errores y están trabajando en "su recuperación".
                        <br><br>Esperamos los problemas se solucionen pronto, ya que nos encontramos dentro de los perjudicados.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>