<h2 style="color: silver; margin-bottom: 1cm;" class="text-center mt-5">Encuestas</h2>
<div class="container-small">
    <div class="card center tarjeta-res">
        <div class="card-body">
            <h5 class="card-title">Ultimo Proyecto</h5>
            <p class="card-text">Esta es una simple encuesta en donde ustedes como usuario tendran la posibilidad de votar y dar su opinion.</p>
            <button class="btn btn-primary" type="submit" (click)="irencuesta1()">Realizar Encuesta</button>
        </div>
    </div>
    <div class="card center tarjeta-res">
        <div class="card-body">
            <h5 class="card-title">Futuros Proyectos</h5>
            <p class="card-text">Esta es una simple encuesta en donde ustedes como usuario tendran la posibilidad de votar y dar su opinion.</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScWjyLXZ_PqSG9aSPyEEKx_2gLJABsP3GGt6HL5Hbx_06KmeQ/viewform?vc=0&c=0&w=1&flr=0&gxids=7628 " target="_blank " class="btn btn-primary">Realizar Encuesta</a>

        </div>
    </div>
    <div class="card center tarjeta-res">
        <div class="card-body">
            <h5 class="card-title">Pagina Web</h5>
            <p class="card-text">Esta es una simple encuesta en donde ustedes como usuario tendran la posibilidad de votar y dar su opinion.</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe9BMlWYNlUq7o8YcVH4HHMtXmLJbosC3m3UZ67hJ8Uc4gzYA/viewform?vc=0&c=0&w=1&flr=0&gxids=7628" target="_blank " type="button" class="btn btn-primary">Realizar Encuesta</a>
        </div>
    </div>
</div>