<div>
    <h3 style="text-align: center; color: silver; margin-top: 2cm;">Noticias</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 center col-8">
                <hr style="background-color: silver;" />
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="card center tarjeta " style="width: 23rem; ">
            <img src="assets/images/informacion1.jpg " class="card-img-top imagen-noticia center ">
            <div class="card-body ">
                <p class="card-text ">Windows 10 empieza a lucir los nuevos diseños de sus iconos.</p>
                <a class="btn btn-primary center " (click)="irainfo1()">Más Información</a>
            </div>
        </div>
        <div class="card center tarjeta " style="width: 23rem; ">
            <img src="assets/images/informacion2.png " class="card-img-top imagen-noticia center ">
            <div class="card-body ">
                <p class="card-text ">Comienza el desarrollo del nuevo proyecto Programming Tales.</p>
                <a class="btn btn-primary center " (click)="irainfo2()">Más Información</a>
            </div>
        </div>
        <div class="card center tarjeta " style="width: 23rem; ">
            <img src="assets/images/informacion3.png " class="card-img-top imagen-noticia center ">
            <div class="card-body ">
                <p class="card-text ">Ya se encuentra disponible la aplicación Moonsharing.</p>
                <a class="btn btn-primary center" (click)="irainfo3()">Más Información</a>
            </div>
        </div>
        <div class="card center tarjeta " style="width: 23rem; ">
            <img src="assets/images/informacion4.png " class="card-img-top imagen-noticia center ">
            <div class="card-body ">
                <p class="card-text ">GitHub, el servicio de hosting de desarrollo de Internet ha sufrido una caída.</p>
                <a class="btn btn-primary center" (click)="irainfo4()">Más Información</a>
            </div>
        </div>
    </div>
</div>