<h2 style="color: silver; margin-bottom: 1cm;" class="text-center mt-5">Noticias</h2>
<div class="container-fluid">
    <div class="row">
        <div class="card center tarjeta " style="width: 23rem; ">
            <img src="assets/images/informacion1.jpg " class="card-img-top imagen-noticia center ">
            <div class="card-body ">
                <p class="card-text ">Windows 10 empieza a lucir los nuevos diseños de sus iconos.</p>
                <a href="/informacion1" class="btn btn-primary center ">Más Información</a>
            </div>
        </div>
        <div class="card center tarjeta " style="width: 23rem; ">
            <img src="assets/images/informacion2.png " class="card-img-top imagen-noticia center ">
            <div class="card-body ">
                <p class="card-text ">Comienza el desarrollo del nuevo proyecto Programming Tales.</p>
                <a href="/informacion2" class="btn btn-primary center ">Más Información</a>
            </div>
        </div>
        <div class="card center tarjeta " style="width: 23rem; ">
            <img src="assets/images/informacion3.png " class="card-img-top imagen-noticia center ">
            <div class="card-body ">
                <p class="card-text ">Ya se encuentra disponible la aplicación Moonsharing.</p>
                <a href="/informacion3" class="btn btn-primary center ">Más Información</a>
            </div>
        </div>
        <div class="card center tarjeta " style="width: 23rem; ">
            <img src="assets/images/informacion4.png " class="card-img-top imagen-noticia center ">
            <div class="card-body ">
                <p class="card-text ">GitHub, el servicio de hosting de desarrollo de Internet ha sufrido una caída.</p>
                <a href="/informacion4" class="btn btn-primary center ">Más Información</a>
            </div>
        </div>
    </div>
</div>