<div class="container-fluid">
    <div class="row">
        <div class="card center tarjeta" style="width: 90%;">
            <img src="/assets/images/informacion1_main.jpg" class="card-img-top imagen" alt="...">
            <h5 class="card-title center text-center" style="margin: 0.5cm; font-size: xx-large;">Windows 10 empieza a lucir los nuevos diseños de sus iconos.</h5>
            <div class="card-body">
                <p class="card-text" style="font-size: large; text-align: justify;">
                    Si al estar frente a la pantalla del ordenador has notado algo diferente pero no sabes muy bien qué, eso no se debe a una mala apreciación. Algunos iconos de Windows 10, como los alusivos al correo y al calendario, se han actualizado y lucen un diseño
                    más moderno sin perder su carácter reconocible.
                    <br><br> El hecho se enmarca en los cambios de apariencia en los que ha trabajado Microsoft, estrategia que se hará visible en mayor medida a lo largo de los próximos meses, conforme lleguen a más aplicaciones y herramientas.
                    <br><br> En 2018 Microsoft adaptó a los nuevos tiempos la imagen de Office, medida que continuó con el anuncio el pasado diciembre de que el rediseño afectará en total a más de un centenar de símbolos (incluido el del viejo Paint).
                    <br><br> Los casos del correo y el calendario son los primeros cambios percibidos en este sentido (al margen del detectado de manera indirecta al probar el redefinido navegador Edge, que cuenta con un logo remozado). Su modernización
                    <br><br>se ha implementado en las distintas versiones del sistema operativo, de modo que el usuario medio ha podido comprobarlo. A priori estos iconos figurarán en Windows 10x, variante operativa creada para dispositivos de doble pantalla.
                    Esta renovación parece un tema menor, pero entraña una considerable complejidad.
                    <br><br>“Nos enfrentamos a dos retos creativos. Necesitábamos reflejar innovación y cambio mientras manteníamos la familiaridad. También tuvimos que desarrollar un sistema de diseño flexible y abierto para abarcar una variedad de contextos
                    sin dejar de ser fieles a Microsoft”, explicó Jon Friedman, vicepresidente de Diseño e Investigación, en un artículo en Medium.
                </p>
            </div>
        </div>
    </div>
</div>


<!---<div class="" *ngFor="let noticia of (noticias$  |async)">
<div class="">
    <app-noticia-card [noticiax]="noticias$ |async"></app-noticia-card>

</div>-->
<!----

<div class="" *ngFor="let noticia of (noticias$ | async)">

    <app-noticia-card [noticia]="noticia">


    </app-noticia-card>

    <button class="btn btn-primary" type="button">Guardar</button>

</div>-->