<div class="card" style="background-color: silver; margin-top: 1cm;">
    <div class="container-fluid">
        <div class="row">
            <div class="card-body col-lg-3 col-12">
                <h3 class="card-title">Redes Sociales</h3>
                <div class="container-small">
                    <a href="https://twitter.com/pucv_cl" target="_blank"><img style="width: 10%; margin-right: 30px;" src="assets/images/twitter_logo.png"></a>
                    <a href="https://www.facebook.com/pucv.cl" target="_blank"><img style="width: 10%; margin-right: 30px;" src="assets/images/facebook_logo.png"></a>
                </div>
            </div>

            <div class="card-body col-lg-3 col-12">
                <h3 class="card-title">Celular</h3>
                <p class="card-text" style="font-size: 125%;">+569 7657 7973</p>
            </div>

            <div class="card-body col-lg-3 col-12">
                <h3 class="card-title">Correo</h3>
                <p class="card-text">azuremoonprojects@gmail.com</p>
            </div>

            <div class="col-lg-3 text-lg-right nr-lg-5 col-12">
                <img src="assets/images/azure_moon_logo.png" style="width: 50%;">
            </div>
        </div>
    </div>
</div>