<!--<div class="container-fluid mt-5">
    <div class="row mb-5">
        <div id='mensaje' [style.visibility]="isDivVisible ? 'visible' : 'hidden'" class="alert alert-success" role="alert">{{mensaje}}</div>
        <div class="col-lg-3 "></div>
        <div class=" col-lg-5 col-12 text-center pr-5 pl-5">
            <div class="card border-light  bg-info mb-3 mt-5">
                <div class="card-header ">
                    <h1 class="text-white">Registro</h1>
                </div>
                <div class="card-body bg-light ">
                    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                        <div id='formulario' [ngClass]="{lleno: mensaje}">

                            <div class="">
                                <label for="nombre">Nombre</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"></div>
                                    <input id="nombre" name='nombre' class="form-control" type="text" formControlName="nombre" placeholder="Nombre">
                                    <div id='mensaje'>
                                        <small id="nombreHelp" class="form-text text-muted" *ngIf="(nombre.dirty || nombre.touched) && nombre.invalid && nombre.errors.required"> Requerido
                          </small>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <label for="mail">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"></div>
                                    <input id="mail" name='mail' class="form-control" type="email" formControlName="mail" placeholder="email@example.com">
                                    <div id='mensaje'>
                                        <small id="emailHelp" class="form-text text-muted" *ngIf="(mail.dirty || mail.touched) && mail.invalid && mail.errors.required"> Requerido
                        </small>
                                        <small id="emailHelp" class="form-text text-muted" *ngIf="(mail.dirty || mail.touched) && mail.invalid && mail.errors.pattern">Formato
                          email requerido</small>
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <label for="rut">Contraseña</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                <mat-icon aria-hidden="false"  aria-label="Password icono" inline=true>https</mat-icon> 
                            </span>
                                    </div>
                                    <input id="password" class="form-control" type="password" formControlName="password" placeholder="Password">
                                    <div id='mensaje'>
                                        <small id="emailHelp" class="form-text text-muted" *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.required"> Requerido </small>
                                    </div>
                                </div>
                            </div>



                            <button class="btn btn-info mt-3" type="submit" [disabled]="!checkoutForm.valid">Enviar</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>

</div>

-->

<div class="container text-center">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col">

            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

                <div id='mensaje' [style.visibility]="isDivVisible ? 'visible' : 'hidden'" class="alert alert-success" role="alert">{{mensaje}}</div>

                <div id='formulario' [ngClass]="{lleno: mensaje}">
                    <h2 style="color: silver; margin-bottom: 1cm;">Registro</h2>
                    <!---------------------------------------------------------------------------------------------------->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">

                        </div>
                        <input id="nombre" name="nombre" class="form-control" type="text" formControlName="nombre" placeholder="Nombre">
                        <div id='mensaje'>
                            <small id="emailHelp" class="form-text text-muted" *ngIf="(nombre.dirty || nombre.touched) && nombre.invalid && nombre.errors.required"> Requerido </small>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------------------->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">

                        </div>
                        <input id="usuario" name='usuario' class="form-control" type="email" formControlName="usuario" placeholder="Correo">
                        <div id='mensaje'>
                            <small id="emailHelp" class="form-text text-muted" *ngIf="(usuario.dirty || usuario.touched) && usuario.invalid && usuario.errors.required"> Requerido  </small>
                            <small id="emailHelp" class="form-text text-muted" *ngIf="(usuario.dirty || usuario.touched) && usuario.invalid && usuario.errors.pattern">Formato email requerido</small>
                        </div>
                    </div>
                    <!------------------------------------------------------------------------------------------------------->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">

                        </div>
                        <input id="password" class="form-control" type="password" formControlName="password" placeholder="Contraseña">
                        <div id='mensaje'>
                            <small id="emailHelp" class="form-text text-muted" *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.required"> Requerido </small>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------------------------->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">

                        </div>
                        <input id="passwordtwo" class="form-control" type="password" formControlName="passwordtwo" placeholder="Confirmar Contraseña">
                        <div id='mensaje'>
                            <small id="emailHelp" class="form-text text-muted" *ngIf="(passwordtwo.dirty || passwordtwo.touched) && passwordtwo.invalid && passwordtwo.errors.required"> Debe ser igual </small>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit" [disabled]="!checkoutForm.valid" (click)="postUsuario()">Guardar</button>
                    <!---<button type="reset">reset</button>-->
                </div>
            </form>
        </div>
    </div>
</div>