<div class="container-small">

    <div class="card center tarjeta-res">
        <div class="card-body">
            <div class="container-small">
                <h5 class="card-title">Cuenta</h5>
                <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>---->
            </div>

            <div class="container-small">
                <p class="card-text">Nombre:</p>
                <p class="card-text">Correo:</p>
                <p class="card-text">Contraseña:</p>
            </div>
            <div class="container-small" style="margin-top: 5%;">
                <a href="" class="card-link">Modificar</a>
            </div>

        </div>
    </div>
</div>