<div class="container-small">

    <div class="card center tarjeta-res">
        <div class="card-body">
            <div class="container-small">
                <h5 class="card-title">Moon Sharing</h5>
                <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>---->
            </div>

            <div class="container-small">
                <p class="card-text">Una aplicacion para organizar tus compras.</p>
            </div>

            <div class="container-small" style="margin-top: 2%;">
                <a href="/proyecto1" class="card-link">Mas informacion</a>
                <a href="assets/images/download.jpg" download="Azure Moon" class="card-link" style="float: right;">Descargar</a>
            </div>

        </div>
    </div>

    <div class="card center tarjeta-res">
        <div class="card-body">
            <div class="container-small">
                <h5 class="card-title">Programming Tales</h5>
                <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>---->
            </div>

            <div class="container-small">
                <p class="card-text">Aprende los fundamentos de la programacion en el lenguaje C.</p>
            </div>

            <div class="container-small" style="margin-top: 2%;">
                <a href="/proyecto2" class="card-link">Mas informacion</a>
                <a href="assets/softwares/download.zip" download="Azure Moon" class="card-link" style="float: right;">Descargar</a>
            </div>

        </div>
    </div>

    <div class="card center tarjeta-res">
        <div class="card-body">
            <div class="container-small">
                <h5 class="card-title">Borkianos</h5>
                <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>---->
            </div>

            <div class="container-small">
                <p class="card-text">Adentrate en el nuevo videojuego y enfrentate a los Borkianos.</p>
            </div>

            <div class="container-small" style="margin-top: 2%;">
                <a href="/proyecto3" class="card-link">Mas informacion</a>
                <a href="assets/softwares/download.xlsx" download="Azure Moon" class="card-link" style="float: right;">Descargar</a>
            </div>

        </div>
    </div>

</div>