<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card center tarjeta" style="width: 90%;">
                <img src="/assets/images/informacion3_main.png" class="card-img-top imagen" alt="Moonsharing">
                <h5 class="card-title center text-center" style="margin: 0.5cm; font-size: xx-large;">Se encuentra disponible la aplicación Moonsharing</h5>
                <div class="card-body">
                    <p class="card-text" style="font-size: large; text-align: justify;">
                        Tras un largo proceso de desarrollo, por fin podemos anunciar el lanzamiento de la app Moonsharing.
                        <br><br>Han pasado varios meses desde que nos embarcamos en esta travesía y estamos orgullosos de presentar nuestra primera app. Si bien en un principio nos encontramos con considerables dificultades, consideramos que cada eventualidad,
                        ayudó a nuestro desarrollo personal. Ahora que estamos cerrando este capítulo, nos encontramos ansiosos por empezar con nuestro siguiente proyecto con renovadas energías y una experiencia mayor tanto en el ámbito de desarrollo
                        como en el ámbito de trabajo en equipo.
                        <br>
                    </p>
                    <div class="row" style="text-align: center; margin: 0.5cm;">
                        <div class="col-lg-3 col-12 offset-lg-3">
                            <img src="/assets/images/informacion3_extra2.png" class="imagen-extra card-img center" alt="fase de aprendizaje" style="margin-top: 0.5cm;"> Menu Principal.
                        </div>
                        <div class="col-lg-3 col-12">
                            <img src="/assets/images/informacion3_extra.png" class="imagen-extra card-img center" alt="fase de aprendizaje" style="margin-top: 0.5cm;"> Agregando una Boleta.
                        </div>
                    </div>
                    <p class="card-text" style="font-size: large; text-align: justify;">
                        La app se encuentra disponible para descargar en el área <a href="/descargas">descargas</a>.
                        <br><br>Muchas gracias por todo su apoyo, seguiremos en contacto por esta vía para anunciar nuestro siguiente destino.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>