<div class="container-fluid">
    <div class="row">
        <div class="card center tarjeta" style="width: 90%;">
            <img src="/assets/images/informacion2.png" class="card-img-top imagenextra" alt="Main Menu">
            <h5 class="card-title center text-center" style="margin: 0.5cm; font-size: xx-large;">Comienza el desarrollo de Programming Tales</h5>
            <div class="card-body">
                <p class="card-text" style="font-size: large; text-align: justify;">
                    En la actualidad, los estudiantes de informática se encuentran con dificultades al intentar aprender a programar. En muchos casos, les cuesta transformar la lógica humana a una lógica que pueda entender el computador o tienen dificultades a la hora de
                    generar algoritmos capaces de resolver problemas, esto se puede solucionar a través de práctica y estudios constantes. Sin embargo, en muchos casos, no se tienen herramientas para poner en práctica lo aprendido o no son capaces de
                    encontrar una motivación para realizar una ejercitación constante, incluso existen casos en los que se encuentran con fuentes de información que no son del todo confiables, lo que provoca que muchos estudiantes no desarrollen sus competencias
                    en el área de manera adecuada.
                    <br><br> Es debido a esto que se decidió crear un software que el estudiante pueda utilizar para ejercitarse y que sea suficientemente entretenido para motivarlo a hacerlo. Programming Tales es un videojuego educativo diseñado para
                    apoyar el aprendizaje del lenguaje de programación “C” de manera didáctica y amena para el usuario, relatando una historia entretenida con la cual el jugador puede identificarse y generando un espacio para la aplicación de los contenidos
                    aprendidos.
                    <br>
                    <img src="/assets/images/informacion2_extra.png" class="imagen center" alt="fase de aprendizaje" style="margin-top: 0.5cm;">
                </p>
                <p class="text-center">
                    Fase de aprendizaje en Programming Tales.
                </p>
                <p class="card-text" style="font-size: large; text-align: justify;">
                    En Programming Tales el jugador asume el rol de un estudiante, el cual, pertenece a la escuela de informática de una cierta universidad. El estudiante deberá asistir a clases en donde aprenderá distintos contenidos de programación en “C” y luego utilizar
                    estos conocimientos para derrotar a los distintos enemigos de cada nivel. Durante su travesía el estudiante irá mejorando sus capacidades y obteniendo objetos que facilitarán su progreso a lo largo del videojuego. También contará con
                    la ayuda de otros estudiantes que le brindarán apoyo a través del uso de sus habilidades únicas con el fin de completar todos los niveles del videojuego.
                    <br><br> Nos encontramos muy entusiasmados por empezar este nuevo desafío y esperamos como siempre contar con su apoyo.
                </p>
            </div>
        </div>
    </div>
</div>