<div>
    <h3 style="text-align: center; color: silver; margin-top: 2cm;">Ultimas Noticias</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 center col-8">
                <hr style="background-color: silver;" />
            </div>
        </div>
    </div>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-bottom: 5cm;">
    <div class="carousel-inner">
        <div class="carousel-item active">

            <a href="visitor/informacion1"><img class="center" style="width: 70%;" src="assets/images/carrousel1.png"></a>
            <div class="carousel-caption d-none d-md-block">

                <h5 class="titulo">Windows 10 empieza a lucir los nuevos diseños de sus iconos.</h5>
                <p class="titulo">En esta nueva actualización te encontraras con diseños modernos.</p>
            </div>

        </div>
        <div class="carousel-item">
            <a href="visitor/informacion2"><img class="center" style="width: 70%;" src="assets/images/carrousel2.png"></a>
            <div class="carousel-caption d-none d-md-block">

                <h5 class="titulo">Comienza el desarrollo de Programming Tales</h5>
                <p class="titulo">El videojuego que te enseñará a aprender el lenguaje de programación C.</p>
            </div>
        </div>

        <div class="carousel-item">
            <a href="visitor/informacion3"><img class="center" style="width: 70%;" src="assets/images/carrousel3.png"></a>
            <div class="carousel-caption d-none d-md-block">

                <h5 class="titulo">Se encuentra disponible la aplicación Moonsharing</h5>


                <p class="titulo2">En esta nueva aplicación podrás controlar todas tus cuentas desde tu dispositivo movil.</p>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>