<h3 style="text-align: center; color: silver;">
    Nosotros</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 center col-8">
            <hr style="background-color: silver;" />
        </div>
    </div>
</div>


<p style="text-align: center; color: silver; margin-bottom: 1cm;">
    Azure Moon es una empresa dedicada 100% para el desarrollo del conocimiento, cada integrente se dedica a una labor que realiza con mucho esfuerzo y dedicación.
</p>

<div class="card mb-3 center" style="max-width: 1000px; background-color: silver;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="assets/images/cristian_reveco.jpg" class="card-img" style="width: 100%;">
        </div>
        <div class="col-md-8">
            <div class="card-body" style="color:  #00688c;">
                <h5 class="card-title">Cristian Reveco</h5>
                <p class="card-text">
                    Un hombre apasionado por las figuras Gundam y los videojuegos, un gusto que lo ha llevado a estudiar informatica y desarrollar sus propios sueños.
                </p>
                <p class="card-text"><small class="text-muted">Azure Moon</small></p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3 center" style="max-width: 1000px; background-color: silver;">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body" style="color:  #00688c;">
                <h5 class="card-title">Sebastián Orrego</h5>
                <p class="card-text">
                    Fanatico por la música y los diversos softwares que existen en el mundo para desarrollar grandes exitos, lo ha llevado a estudiar informatica, para ampliar sus conocimientos los diferentes softwares que existen en la actualidad.
                </p>
                <p class="card-text"><small class="text-muted">Azure Moon</small></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="assets/images/sebastian_orrego.jpg" class="card-img" style="width: 100%;">
        </div>
    </div>
</div>

<div class="card mb-3 center" style="max-width: 1000px; background-color: silver;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="assets/images/felipe_borquez.jpg" class="card-img" style="width: 100%;">
        </div>
        <div class="col-md-8">
            <div class="card-body" style="color:  #00688c;">
                <h5 class="card-title">Felipe Bórquez</h5>
                <p class="card-text">
                    Apasionado en diferenetes ambitos de la vida, eligio su camino en la informatica con el fin de desarrollar grandes historias de fantasia en su hobby favorito, los videojuegos.
                </p>
                <p class="card-text"><small class="text-muted">Azure Moon</small></p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3 center " style="max-width: 1000px; background-color: silver;">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body" style="color: #00688c;">
                <h5 class="card-title">Nicolás Valdés</h5>
                <p class="card-text">
                    Maravillado por las peliculas y videojuegos que veia de niño, decidio estudiar informatica para crear sus propias historias para algun dia desarrollar sus propios videojuegos con grandiosas historias.
                </p>
                <p class="card-text"><small class="text-muted">Azure Moon</small></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="assets/images/nicolas_valdes.jpg" class="card-img" style="width: 100%;">
        </div>
    </div>
</div>