/* You can add global styles to this file, and also import other style files */
.pointer {
  cursor: pinter;
}
.my-blue-background {
  background-color: #192837;
}
.my-blue-text {
  color: #192837;
}
.imagenextra {
  max-height: 600px;
  background-size: contain;
}
.tarjeta {
  width: auto;
  background-color: silver;
  margin-top: 0.5cm;
}
